body {
    margin: 0;
    padding: 0;
    font-family: 'Coming Soon', cursive;
}

.container {
    display: grid;
    grid-template: repeat(8,1fr) / repeat(8,1fr);
    height: 100vh;
    gap: 5px;
    background: #000000;
}

.color {
    grid-area: span 4 / span 4;
}

.container div:nth-of-type(5) {
    position: fixed;
    background-color: #a5a5a4;
    top: calc(50vh - 77px);
    left: calc(50% - 122px);
    border-radius: 50%;
    border: 5px solid #000000;
}

.container div:nth-of-type(5) a {
    display: block;
}

.container div.hide {
    display: none;
}

#one.color {
    background-color: #ddb628;
}

#one.color.light {
    background-color: #ffd94e;
}

#two.color {
    background-color: #45a8cc;
}

#two.color.light {
    background-color: #54d0fd;
}

#three.color {
    background-color: #c03a2b;
}

#three.color.light {
    background-color: #fd4a36;
}

#four.color {
    background-color: #4eae60;
}

#four.color.light {
    background-color: #74fa8d;
}

#buttonStart {
    display: inline-block;
    justify-content: center;
    display: inherit;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 50px;
}